.slides h2, .slides h1 {
  margin-bottom: 0.5em;
}

.slides h2 {
  color: #ef4b0d;
}

.slides h6, .slides h3 {
  margin-bottom: 1.7em;
  color: #0ca8e5;
}

.slides section img {
  background-color: rgb(255,255,255);
}

p.bad, p.good {
  margin-bottom: 1em;
}

.good:before {
  content: "✓";
  color: #29c40a;
  font-weight: bold;
  margin-right: 5px;
}

.bad:before {
  content: "✘";
  color: #e10c22;
  font-weight: bold;
}